---
title: Kartka okazyjna
main_header: Kartka okazyjna
secondary_header: Kartka z indywidualnymi życzeniami.
layout: project_layout
img_src: proj4/1.jpeg
permalink: /projekt-kartka-okazyjna/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (1..4) %}
			<li><img src="{{ site.baseurl }}img/proj4/{{ i }}.jpeg" alt="Kartka okazyjna"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (1..4) %}
			<li><img src="{{ site.baseurl }}img/proj4/{{ i }}.jpeg" alt="Kartka okazyjna"></li>
		{% endfor %}
	</ul>
</section>
