---
title: Kartka ślubna
main_header: Kartka ślubna
secondary_header: Kartka i piękne pudełko zamiast koperty
layout: project_layout
img_src: proj1/5.jpeg
permalink: /projekt-kartka-slubna/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (1..5) %}
			<li><img src="{{ site.baseurl }}img/proj1/{{ i }}.jpeg" alt="Kartka"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (1..5) %}
			<li><img src="{{ site.baseurl }}img/proj1/{{ i }}.jpeg" alt="Kartka"></li>
		{% endfor %}
	</ul>
</section>
