---
title: Domek dla LOL Surprise
short: Wspaniała zabawka dla miłośniczek kolekcji LOL Surprise.
layout: project_layout
mainImgSrc: proj4/8.jpg
permalink: /projekt-domek-lol/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (1..15) %}
			<li><img src="{{ site.baseurl }}img/proj4/{{ i }}.jpg" alt="Księga gości"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (1..15) %}
			<li><img src="{{ site.baseurl }}img/proj4/{{ i }}.jpg" alt="Księga gości"></li>
		{% endfor %}
	</ul>
</section>
