---
title: Metryczki noworodków
short: Wspaniała pamiątka z okazji urodzin dziecka.
layout: project_layout
mainImgSrc: proj6/1.jpeg
permalink: /projekt-metryczka/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (1..3) %}
			<li><img src="{{ site.baseurl }}img/proj6/{{ i }}.jpeg" alt="Metryczka noworodka"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (1..3) %}
			<li><img src="{{ site.baseurl }}img/proj6/{{ i }}.jpeg" alt="Metryczka noworodka"></li>
		{% endfor %}
	</ul>
</section>
