---
title: Księga gości
short: Świetny prezent z okazji zamieszkania w nowym domu.
layout: project_layout
mainImgSrc: proj3/1.jpeg
permalink: /projekt-ksiega-gosci/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (1..6) %}
			<li><img src="{{ site.baseurl }}img/proj3/{{ i }}.jpeg" alt="Księga gości"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (1..6) %}
			<li><img src="{{ site.baseurl }}img/proj3/{{ i }}.jpeg" alt="Księga gości"></li>
		{% endfor %}
	</ul>
</section>
