---
title: Album na zdjęcia
main_header: Album na zdjęcia
secondary_header: Pamiątka do wklejania zdjęć, notatek i innych ważnych wpisów.
layout: project_layout
img_src: proj2/9.jpeg
permalink: /projekt-album/
slick_carousel: true
---

<section class="project-gallery">
	<h4 class="project-gallery__header">Galeria</h4>
	<ul class="project-gallery__list project-gallery__list--main js-projects-carousel">
		{% for i in (2..9) %}
			<li><img src="{{ site.baseurl }}img/proj2/{{ i }}.jpeg" alt="Album na zdjęcia"></li>
		{% endfor %}
	</ul>
	<ul class="project-gallery__list project-gallery__list--nav js-projects-carousel-nav">
		{% for i in (2..9) %}
			<li><img src="{{ site.baseurl }}img/proj2/{{ i }}.jpeg" alt="Album na zdjęcia"></li>
		{% endfor %}
	</ul>
</section>
