.main-footer
	position: fixed
	bottom: 0
	display: flex
	justify-content: flex-end
	align-items: center
	width: 100%
	padding: 0 1rem 1.2rem
	z-index: 100

	&__menu-list
		display: flex

	&__item
		margin: 0 rem-calc(10)

	&__icon
		position: relative
		display: block
		width: rem-calc(30)
		height: rem-calc(30)
		border: 1px solid $color-bg-main
		border-radius: 100%

		&::after
			+fa-icon($fa-envelope, $color: $color-bg-main)
			+center

	&__facebook::after
		+fa-icon($fa-facebook, $color: $color-bg-main)

	&--full
		position: relative
		padding: rem-calc(80) 1rem
		color: $color-grey-xlite
		background-color: $color-accent
		z-index: 99

		&__content
			position: relative
			max-width: rem-calc(800)
			margin: 0 auto

		&__title
			margin-bottom: rem-calc(30)
			color: $color-bg-main

		&__contact
			+font($font-size-header)
			display: block
			color: $color-bg-main

		&__logo--bullet
			max-width: rem-calc(60)
			margin-bottom: rem-calc(30)

		&__pattern
			position: fixed
			bottom: 0
			left: 0
			right: 0
			max-height: none
