.main-footer
	position: fixed
	bottom: 0
	display: flex
	justify-content: flex-end
	align-items: center
	width: 100%
	padding: 0 1rem 2rem
	z-index: 100

	&__menu-list
		display: flex

	&__item
		margin: 0 rem-calc(10)

	&__icon
		position: relative
		display: block
		width: rem-calc(30)
		height: rem-calc(30)
		border: 1px solid $color-accent
		border-radius: 100%

		&::after
			+fa-icon($fa-at)
			+center

	&__mail
		span
			+transition
			position: relative
			right: rem-calc(100)
			padding: rem-calc(15) rem-calc(30) rem-calc(15) 0
			opacity: 0
			pointer-events: none

		&:hover span
			right: rem-calc(185)
			opacity: 1
			pointer-events: all

	&__adress::after
		+fa-icon($fa-envelope)

	&__facebook::after
		+fa-icon($fa-facebook)
